*{
	margin: 0;
	padding: 0;
	background-color: ;
	height: 100%;
	width: 100%;
}
.container, .container-fluid {
 
 background-color: ;
}
.row {
width: 100%;

}

  footer, section, div[role="main"] {

}
div[role="main"] {
 background-color: #fff;
}
header.row{
	}
aside{
	background-color: #494949;
	padding-top: 15px;
 	padding-bottom: 15px;
 	height: 550px;
 
 	border: 1px solid #ddd;
 	border: 1px solid rgba(86,61,124,.2);
 	text-align: justify;
}
div[role="main"] {
 width: 100%;
}
 nav#menuLateral{
	
	 
}